<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <div>
  <div class="dropdown form-group">
    <button class="btn btn-primary form-control sortButton" type="button" data-toggle="dropdown">Sort By
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a (click)="myFunction('nameAsc')">Name(A-Z)</a></li>
      <li><a (click)="myFunction('nameDesc')">Name(Z-A)</a></li>
      <li><a (click)="myFunction('rankAsc')">Rank &uarr;</a></li>
      <li><a (click)="myFunction('rankDesc')">Rank &darr;</a></li>
    </ul>
  </div>
  <div class="search form-group">
      <i class="fa fa-search"></i>
    <input class="form-control" placeholder="Search term" [(ngModel)]="searchString" (keyup)="onKeyUp($event)">
    <!-- <span class="fa fa-search errspan"></span> -->
  </div>
  </div>
</div>
<div class="body">
  <div class="totalCount defaultFont">
    Total Results :{{totalCount}}
  </div>
  <div class="dataList row" *ngFor="let item of pagedItems">
    <div class="col-md-3">
      <img src="{{item.avatar_url}}" alt="profilePic">
    </div>
      <div class="col-md-7 detailsSec defaultFont">
        <h4>{{item.login}}</h4>
        <div class="url">
          profile url : {{item.url}}
        </div>
        <div>
          Id : {{item.id}}
        </div>
        <div>
          Score : {{item.score}}
        </div>
      </div>
      <div col-md-2>
        <button type="button" class="btn btn-primary detailsButton">details</button>
      </div>
  </div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>

</div>


