.header{
    background-color: dodgerblue;
    height: 70px;
}

.dropdown-menu{
    margin-left: 423px;
}

.btn-primary{
    color: #000;
    background-color: #fff;
    margin-left: 333px;
    width: 204px;
    height: 35px;
    margin-top: 16px;
}

.search{
    margin-top: -52px;
    float: right;
    margin-right: 428px;
    position: relative;
}

i.fa-search { position: absolute; top: 10px; left: 173px; }

.body{
    background-color: #eee;
    height: auto;
    padding-top: 39px;
}
.dataList{
    width: 670px;
    display: block;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
}
img{
    border-radius: 50%;
    height: 103px;
    margin-top: 15px;
    margin-left: 5px;
}
.btn-primary{
    width: 118px;
    margin-left: 320px;
}
.detailsButton{
    margin-left: 502px;
    margin-top: -44px;
}

.detailsSec{
    margin-top: 25px;
    margin-left: -36px;
}
.url{
    margin-bottom: 20px;
}

.sortButton{
    margin-left: 423px;
}
.totalCount{
    margin-left: auto;
    margin-right: auto;
    width: 668px;
    margin-bottom: 12px;
}
.defaultFont{
    font-family: 'Lato', sans-serif;
}
.pagination{
    margin-left: 481px;
}
.table{
    width: 44%;
    margin-left: auto;
    margin-right: auto;
}
.listRow{
    margin-bottom: 20px;
}