<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <div>
  <div class="dropdown form-group">
    <button class="btn btn-primary form-control sortButton" type="button" data-toggle="dropdown">Sort By
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Name(A-Z)</a></li>
      <li><a href="#">Name(Z-A)</a></li>
      <li><a href="#">Rank &uarr;</a></li>
      <li><a href="#">Rank &darr;</a></li>
    </ul>
  </div>
  <div class="search form-group">
      <i class="fa fa-search"></i>
    <input class="form-control" placeholder="Search term" [(ngModel)]="searchString">
    <!-- <span class="fa fa-search errspan"></span> -->
  </div>
  </div>
</div>
<div class="body">
  <div class="totalCount">
    Total Results :{{data.total_count}}
  </div>
  <div class="dataList row" *ngFor="let item of data.items">
    <div class="col-md-3">
      <img src="{{item.avatar_url}}" alt="profilePic">
    </div>
      <div class="col-md-7 detailsSec">
        <h4>{{item.login}}</h4>
        <div class="url">
          profile url:{{item.url}}
        </div>
        <div>
          data one
        </div>
        <div>
          data two
        </div>
      </div>
      <div col-md-2>
        <button type="button" class="btn btn-primary detailsButton">details</button>
      </div>
  </div>

</div>


